# Creating Conditional Queries

In this activity, you’ll create SQL queries that each return a set of data based on the conditions that you specify. You’ll use the SQL `WHERE` clause to check the conditions and return the records that you want from your database.

Instructions

1. Import the required libraries and dependencies: Pandas, Path, and SQLAlchemy.

2. Read stock_data.csv` into a new Pandas DataFrame.

    > **Important** For this activity, you don’t need to set the “date” column as a `DatetimeIndex`.

3. Set up a database connection by completing the following: 

    - Create the connection string for your new SQLite database.

    - Pass the connection string to the `create_engine` function.

    - Confirm the creation of the database engine.

4. Use the `to_sql` function to create a new table named `stock_prices` in the database. To do so, use the information in the `stock_prices_df` DataFrame. Be sure to do the following:

    - Include the parameters for the engine, the index, and replace the table if it already exists.

    - Call the `table_names` function to confirm that the newly created table exists in the database.

5. Write a SQL query to return the "date" and “TSLA” columns, where the “TSLA” value is less than 400. To run the query, call the `execute` function on the database engine. Review the list of results.

6. Write a SQL query to return the "date" and “TSLA” columns, where the TSLA value is greater than 400. To run the query, call the `execute` function on the database engine. Review the list of results.

7. Write a SQL query to return the “date”, “AAPL”, and “TSLA” columns, where the “date” column equals 2019-08-07. To run the query, call the `execute` function on the database engine. Review the list of results.


    > **Hint** In the `stock_prices` table, the “date” column stores its data as strings and not as numerical values. To access this data via a SQL query, you need to place it in quotation marks&mdash;for example, “2019-08-07”.

References

[SQL SELECT](https://docs.microsoft.com/en-us/sql/t-sql/queries/select-transact-sql?view=sql-server-ver15)

[SQL WHERE](https://docs.microsoft.com/en-us/sql/t-sql/queries/where-transact-sql?view=sql-server-ver15)

[SQLAlchemy SQLite Create Engine](https://docs.sqlalchemy.org/en/14/core/engines.html#sqlite)

[SQLAlchemy Core](https://docs.sqlalchemy.org/en/14/core/index.html)

## Step 1: Import the required libraries and dependencies: Pandas, Path, and SQLAlchemy.

In [ ]:
# Import the required libraries and dependencies
import pandas as pd
import numpy as np
import sqlalchemy

## Step 2: Read stock_data.csv` into a new Pandas DataFrame.

    > **Important** For this activity, you don’t need to set the “date” column as a `DatetimeIndex`.

In [ ]:
# Using the Pandas read_csv funcion and the Path module, 
# read "stocks.csv" file into a Pandas DataFrame

stock_prices_df = pd.read_csv(Path("../Resources/stocks.csv"))
 
# Review the DataFrame
stock_prices_df.head()

## Step 3: Set up a database connection by completing the following: 

    - Create the connection string for your new SQLite database.

    - Pass the connection string to the `create_engine` function.

    - Confirm the creation of the database engine.

In [ ]:
# Create the connection string for your SQLite database
database_connection_string = "sqlite:///"

# Pass the connection string to the SQLAlchemy create_engine function
engine = sqlalchemy.create_engine(database_connection_string)

# Confirm that the database engine was created.
engine

## Step 4: Use the `to_sql` function to create a new table named `stock_prices` in the database. To do so, use the information in the `stock_prices_df` DataFrame. Be sure to do the following:

    - Include the parameters for the engine, the index, and replace the table if it already exists.

    - Call the `table_names` function to confirm that the newly created table exists in the database.

In [ ]:
# Using the stock_prices_df DataFrame, create a table called stocks_prices
# inside your newly created database
# Be sure to include the parameters for the engine, the index, and if_exists with the function
stock_prices_df.to_sql('stocks_prices',engine, index=False,if_exists='replace')

# Confirm that the table was created by calling the table_names function
engine.table_names()

## Step 5: Write a SQL query to return the "date" and “TSLA” columns, where the “TSLA” value is less than 400. To run the query, call the `execute` function on the database engine. Review the list of results.

In [ ]:
# Write the SQL query to return the date and TSLA columns, where the TSLA value is less than 400.
query_tsla_less_400 = """
SELECT date,TSLA FROM stock_prices WHERE TSLA=400
"""

# Call on the database engine to execute the query 
results = engine.execute(query_tsla_less_400)

# List of the results of the database query
lists(results)

## Step 6: Write a SQL query to return the "date" and “TSLA” columns, where the TSLA value is greater than 400. To run the query, call the `execute` function on the database engine. Review the list of results.

In [ ]:
# Write the SQL query to return the date and TSLA columns, where the TSLA value is greater than 400.
query_tsla_greater_400 = """
SELECT date, TSLA
FROM stock_prices
WHERE TSLA>400
"""

# Call on the database engine to execute the query
results = engine.execute(query_tsla_greater_400)

# List of the results of the database query
list(results)

## Step 7: Write a SQL query to return the "date", “AAPL”, and “TSLA” columns, where the “date” column equals 2019-08-07. To run the query, call the `execute` function on the database engine. Review the list of results.

In [ ]:
query_date_2019_08_07 = """
SELECT date, AAPL, TSLA
FROM stock_prices
WHERE date=2019-08-07
"""

# Call on the database engine to execute the query
results = engine.execute(query_date_2019_08_07)

# List of the results of the database query
lists(results)