In [5]:
import pandas as pd
import numpy as np
daily_returns = pd.DataFrame({
    "AAPL": [0.5, np.nan, 0.62],
    "GOOG": [0.45, 0.63, 0.55]})
daily_returns

   AAPL  GOOG
0  0.50  0.45
1   NaN  0.63
2  0.62  0.55

In [7]:
import pandas as pd
import numpy as np
daily_returns = pd.DataFrame({
    "AAPL": [0.5, np.nan, 0.62],
    "GOOG": [0.45, 0.63, 0.55]})
daily_returns.dropna()

   AAPL  GOOG
0  0.50  0.45
2  0.62  0.55

In [21]:
import pandas as pd
import numpy as np
daily_returns = pd.DataFrame({
    "AAPL": [0.5, np.nan, 0.62], 
    "GOOG": [0.45, 0.63, 0.55]})

# Replace the NaNs with "Unknown"
daily_returns = daily_returns.fillna("Unknown")
daily_returns

      AAPL  GOOG
0      0.5  0.45
1  Unknown  0.63
2     0.62  0.55

In [22]:
import pandas as pd
import numpy as np
daily_returns = pd.DataFrame({
    "AAPL": [0.5, np.nan, 0.62], 
    "GOOG": [0.45, 0.63, 0.55]})

# Replace the NaNs with 0
daily_returns = daily_returns.fillna(0)
daily_returns

   AAPL  GOOG
0  0.50  0.45
1  0.00  0.63
2  0.62  0.55

In [23]:
import pandas as pd
import numpy as np
daily_returns = pd.DataFrame({
    "AAPL": [0.5, np.nan, 0.62], 
    "GOOG": [0.45, 0.63, 0.55]})

# Replace the NaNs with 0
daily_returns = daily_returns.fillna(daily_returns.mean())
daily_returns

   AAPL  GOOG
0  0.50  0.45
1  0.56  0.63
2  0.62  0.55

In [26]:
import pandas as pd
import numpy as np
daily_returns = pd.DataFrame({
    "AAPL": [0.5, np.nan, 0.62], 
    "GOOG": [0.45, 0.63, 0.55]})

daily_returns.isnull().sum()
daily_returns

   AAPL  GOOG
0  0.50  0.45
1   NaN  0.63
2  0.62  0.55